@model MVC_Final.Models.Photos
<h3>Fotoğraf Ekle</h3>
@using (Html.BeginForm("create", "Photos", FormMethod.Post, new { encType = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.InspectionID)
    @Html.HiddenFor(x => x.ID, new { @Value = 0 })

    <div>
        @Html.ValidationMessageFor(a => a.Photo)
        <input type="file" name="file" id="file" style="visibility:hidden; margin-top:0; margin-bottom:0;"/>
        <label for="file" class="btn btn-default">Dosya Seç</label><br />
        <input type="submit" value="Ekle" class="btn btn-default" />
    </div>
}

<style>
    .ui-dialog .container label {
        margin-bottom: 20px;
        margin-top: 20px;
        background-color: #f7a19a;
        border: none;
        color: whitesmoke;
        padding: 3px 6px;
        border-radius: 5px;
        margin-top: 5px;
    }

        .ui-dialog .container label:hover {
            background-color: #F5E9E2;
            color: black;
        }

        .ui-dialog .container label:focus {
            background-color: #F5E9E2;
            color: black;
        }
</style>